html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$padding-distance: 20px;

$col:  rgb(1, 255, 120);
$activeCol: rgb(37, 218, 121);

h1, h2, p {
  cursor: default;
}

.hoverable:hover {
  background-color: $activeCol;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}