html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$padding-distance: 20px;

// Green colour scheme
// $col:  rgb(1, 255, 120);
// $activeCol: rgb(53, 218, 130);

// Orange colour scheme
$col: #fca532;
$activeCol: #d68a26;

h1,
h2,
p {
  cursor: default;
}

.hoverable:hover {
  background-color: $activeCol;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.hoverable-icon:hover {
  color: $activeCol;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}
